%list {
    margin: 0;
    padding: 0;
    list-style: none;
}

%container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        max-width: 480px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        max-width: 1200px;
        align-items: center;
        justify-content: center;
    }
}

// // %section {
// //     padding-top: 60px;
// //     padding-bottom: 60px;

// //     @media screen and (min-width:1200px) {
// //         padding-top: 94px;
// //         padding-bottom: 94px;
// //     }
// }