    $primary-text-color: #757575;
    $title-text-color: #212121;
    $accentColor: #2196F3;
    $backgroundColor: #ffffff;
    $simpleWhiteTextColor: #FFFFFF;
    $simpleBlackTextColor: #000000;
    $rareBackgroundColor: #F5F4FA;
    $backgroundHeroColor: #2F303A;
    $buttonHoverColor: #188CE8;
    $footerMailTelColor: rgba(255, 255, 255, 0.6);
    $backgroundTeamItemColor: #FFFFFF;
    $centralButtomColor: rgba(0, 0, 0, 0.15);
    $teamShadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    $borderColorPortfolioContent: #EEEEEE;
    $borderColorHeader: #ECECEC;    
    
    $cardItemSet: 30px;