.section {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.clients__title {
    margin: 0;
    color: $title-text-color;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    margin-bottom: 30px;
    
    @media screen and (min-width: 1200px) {
    margin: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    }
}

.clients-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 2 * 30px)) / 2;
    gap: 30px;

    
    @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 30px)) / 3;
    }  
    
    @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: center;        
    }

}

.item {
    width: 210px;
    height: 92px;
    // margin-bottom: 30px;
    gap: 30px;

    @media screen and (min-width: 768px) {
    width: 226px;
    }

    @media screen and (min-width: 1200px) {
    width: 170px;
    }
     
    @media screen and (max-width: 480px) {
        &:nth-child(2n) {
        margin-right: 0px;
    }
    }

    @media screen and (min-width: 768px) {
        &:nth-child(2n+1) {
        margin-right: 0px;
        }
    }

    @media screen and (min-width: 1200px) {
        &:last-child {
            margin-right: 0;
        }    
    }

}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: #2196F3;
    border: 1px solid #2196F3;
    }
}

.clients__logo {
    width: 106px;
    height: 60px;
    fill: currentColor;
}