.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: $backgroundHeroColor;

    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;        
    }

}

.footer__container {
    @extend %container;

    @media screen and (min-width: 480px) {
    text-align: center;
    }

    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;        
    }
}

.footer-first {
    @media screen and (max-width: 480px) {
    margin-bottom: 60px;
    text-align: center;
    }

    // @media screen and (min-width: 480px) {
    
    // }

    @media screen and (min-width: 1200px) {
    margin-right: 70px;    
    text-align: left;
    margin-bottom: 0;    
    }
}