.header {
    border-bottom: 1px solid $borderColorHeader;


    @media screen and (min-width:768px) {
    position: relative;
    height: 80px;
    }

    &__container {
    @extend %container;

    @media screen and (min-width: 768px) {
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
    }


    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    margin: 16px auto;    
    }


    




    // @media screen and (min-width: 767px){
    //     margin: 0 auto;
    // }
}
}