.hero {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 0;
    text-align: center;
    max-width: 480px;
    
    background-color: #C4C4C4;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
            background-image: linear-gradient(to right,
                 rgba(47, 48, 58, 0.4),
                 rgba(47, 48, 58, 0.4)),
                url('../images/hero-mobile@2x.jpg');
            }
        }

        @media screen and (min-width: 768px) {
        max-width: 768px;
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url('../images/hero-tablet.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
            background-image: linear-gradient(to right,
             rgba(47, 48, 58, 0.4),
             rgba(47, 48, 58, 0.4)),
                url('../images/hero-tablet@2x.jpg');
            }
        }

        @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px; 
        max-width: 1600px;  
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/hero-desktop.jpg');
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: linear-gradient(to right,
                 rgba(47, 48, 58, 0.4),
                 rgba(47, 48, 58, 0.4)),
                url('../images/hero-desktop@2x.jpg');
            }
        }
    }

    &__title {
    margin: 0;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: $simpleWhiteTextColor;
    
    @media screen and (min-width: 480px) {
    font-size: 26px;
    line-height: 1.62;
        }


    @media screen and (min-width: 1200px) {
    margin-top: 0;
    font-size: 44px;
    line-height: 1.36;           
    }
}
}
}

.button {
    box-shadow: 0px 4px 4px $centralButtomColor;
    border-radius: 4px;
    padding: 10px 24px;
    border: 1px solid transparent;
    min-width: 200px;
    background-color: $accentColor;
    color: $simpleWhiteTextColor;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: $buttonHoverColor;
    }
}
