.footer-second {
    @media screen and (min-width: 320px) {
    margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
    // margin-right: 93px;    
    }  

    @media screen and (min-width: 1200px) {
    margin-right: 93px;
    text-align: left; 
    }
}

.footer__title {
    margin: 0;
    font-size: 14px;
    line-height: 1.34;
    text-transform: uppercase;
    color: $simpleWhiteTextColor;
    margin-bottom: 20px;
    justify-content: left;
}

.footer__social-links {
    display: flex;
    justify-content: center;
    margin: 0;
}

.footer__social-link:not(:last-child) {
    margin-right: 10px;
}

.footer__network {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: $simpleWhiteTextColor;
    background-color: $accentColor;
    }
}

.footer__social-icon {
    fill: $simpleWhiteTextColor;
}