.logo {
    display: inline-block;

    color: $simpleBlackTextColor;
    text-decoration-line: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;


    @media screen and (min-width: 1200px) {
        margin-right: 93px;  
        font-size: 26px;
        line-height: 1.19;      
    }

    &--accent {
        color: $accentColor;
    }
}

.logo-footer {
    color: $simpleWhiteTextColor;
    text-decoration-line: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
