.nav {
    @extend %list;
    display: flex;
    align-items: baseline;
}

.site-nav {
    display: flex;

    @media screen and (max-width: 767px) {
        display: none;
    }
    
    // @media screen and (min-width: 768px) {
    //     margin-right: 97px;
    // }

    &__items {
    display: flex;
    margin-right: 50px;
    position: relative;

    &:nth-last-child(-n+1) {
    margin-right: 0px;
    }
    }
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-text-color;
    text-decoration-line: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: $accentColor;
    }

    &--current {
    display: block;
    color: $accentColor;
    
        &::after {
        display: block;
        content: '';
        position: absolute;
        bottom: -1.5px;
        right: 0;
        width: 100%;
        height: 4px;
        background-color: $accentColor;
        border-radius: 2px;
        }
    }
}