.examples {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;        
    }
}

.container {

   @extend %container;

    // width: 1200px;
    // padding-left: 15px;
    // padding-right: 15px;
    // margin-left: auto;
    // margin-right: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.filter {
    @extend %list;

    display: flex;
    gap: 8px;   
    margin-bottom: 40px; 
       
    @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    width: 80%;        
    }

    @media screen and (min-width: 768px) {
    justify-content: center;   
    margin-bottom: 50px;
    }

}

// .filter__docket {
//     // margin-right: 8px;

//     &:last-child {
//         margin-right: 0;
//     }
// }

.filter__button {
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;
    min-width: 73px;
    background-color: $rareBackgroundColor;
    color: $title-text-color;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: $accentColor;
    color: $simpleWhiteTextColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}