.portfolio {
    @extend %list;
    background-color: $backgroundColor;

    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    // padding-left: 0;
    // margin-top: 0;
    // margin-bottom: 0;
    gap: 30px;        
    }


}

.portfolio__item {

    width: 100%;  
    margin-bottom: 30px;

        &:last-child {
        margin-bottom: 0px;
    }


    @media screen and (min-width: 768px) {
    flex-basis: calc((100% -  30px) / 2);
    margin-bottom: 0px;
    }

    @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 2 * 30px) / 3);    
    }
}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 23px;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 1.56;
    color: $simpleWhiteTextColor;
    background: rgba(33, 150, 243, .9);
    margin: 0;
    overflow: auto;

}

.portfolio__content {

    flex-grow: 1;
    padding: 20px 24px;

    border-left: 1px solid $borderColorPortfolioContent;
    border-right: 1px solid $borderColorPortfolioContent;
    border-bottom: 1px solid $borderColorPortfolioContent;
}


.portfolio__link {
    display: flex;
    flex-direction: column;

    text-decoration: none;
    height: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .overlay__description,
    &:focus .overlay__description {
    transform: translatex(0);
    }
}

.portfolio__caption {
    margin: 0;
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__catego {
    margin: 0;
    margin-top: 4px;
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.88;
}