.section-team {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    background-color: $rareBackgroundColor;
}

.container {
    @extend %container;
}

.team__title {
    margin: 0;
    color: $title-text-color;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        margin: 0;
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.16;
    }

}

.team {
    @extend %list;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        // flex-basis: calc((100% - 2 * 30px)) / 2;
        gap: 30px;
    }

    &__item {
        margin-bottom: 30px;
        background-color: $backgroundTeamItemColor;
        box-shadow: $teamShadow;
        border-radius: 0px 0px 4px 4px;
        text-align: center;

        &:last-child {
        margin-bottom: 0;
        }

        @media screen and (min-width: 768px) {
        &:nth-child(3n) {
        margin-bottom: 0;
        }
        }

        @media screen and (min-width: 1200px) {
        margin-bottom: 0;

            // &:nth-child(2n) {
            //     margin-right: 30px;

            //     &:last-child {
            //         margin-right: 0;
            //     }
            // }

        }
    }

    .team__name {
        margin: 0;
        color: $title-text-color;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        }

    .team__position {
        margin: 0;
        margin-top: 10px;
        color: $primary-text-color;
        font-size: 16px;
        line-height: 1.18;
    }


    .demianenko {
        padding: 30px 30px 24px 30px;
    }

    .repina {
        padding: 30px 30px 24px 30px;
    }

    .tarasov {
        padding: 30px 30px 24px 30px;
    }

    .ermakov {
        padding: 30px 30px 24px 30px;
    }

    .social {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        margin-top: 16px;
        justify-content: center;
        gap: 10px;

        &__links {
            width: 44px;
            height: 44px;
        }

        &__icon {
            fill: currentColor;
        }
    }

    .network {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $simpleWhiteTextColor;
        color: #AFB1B8;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: $accentColor;
            color: $simpleWhiteTextColor;
        }

        &:hover .social__icon,
        &:focus .social__icon {
            fill: $simpleWhiteTextColor;
        }
    }
}