body {
    margin-left: auto;
    margin-right: auto;

    background-color: $backgroundColor;
    color: $primary-text-color;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

::after {
    box-sizing: border-box;
}

